/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --color-black: #242424;
    --color-white: #e7e7e7;
    --color-gray: #d8d8d88d;
    --color-gray2: #353535;
    --color-green: #60eb6c;
    --color-greenl: #006d09;
    --color-orange: #eb8500;
    --color-orangel: #f0a33e;
    --color-blue: #00635c;
    --color-bluel: #55ddd5;  
    --color-warning: #ffee07;
    --color-danger: #fc3d3d;
}
body{
    
}
#relogio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0;
}
#horario{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background: var(--color-gray2);
    color: #fff;
    border-radius: 50%;
    font-weight: bold;
}
small{
    color: var(--color-gray2);
    font-weight: bold;
}

.bater_ponto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

input[type='submit']{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0.6rem 1rem;
    margin: 0;
    color: var(--color-black);
    transition: all .3s;
    border-radius: 8px;
    border: 1px solid var(--color-gray2);
}
input[type='submit']:hover{
    background: var(--color-gray2);
}
*/